@keyframes spinner {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.container {
  display: flex;
  padding: 3rem 0;
}

.spinner{
  font-size: 100px;
}

.spinner::before {
  content: '◌';
  position: absolute; 
  top: 45%;
  left: 30%;
  margin-top: -15px;
  margin-left: -15px;
  animation: spinner 1s linear infinite;
}

#chart {
    border: 1px solid black;
}
